<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
		   classpath:applicationContext.xml
		</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>AnalysisEmotionServlet</servlet-name>
    <servlet-class>com.tpm.servlet.AnalysisEmotionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalysisEmotionServlet</servlet-name>
    <url-pattern>/AnalysisEmotionServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminGetQnaireServlet</servlet-name>
    <servlet-class>com.tpm.servlet.AdminGetQnaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGetQnaireServlet</servlet-name>
    <url-pattern>/AdminGetQnaireServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateQuestionnairServlet</servlet-name>
    <servlet-class>com.tpm.servlet.CreateQuestionnairServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateQuestionnairServlet</servlet-name>
    <url-pattern>/CreateQuestionnairServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelectTiServlet</servlet-name>
    <servlet-class>com.tpm.servlet.DelectTiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelectTiServlet</servlet-name>
    <url-pattern>/DelectTiServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelectXuanXiangServlet</servlet-name>
    <servlet-class>com.tpm.servlet.DelectXuanXiangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelectXuanXiangServlet</servlet-name>
    <url-pattern>/DelectXuanXiangServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FilePost</servlet-name>
    <servlet-class>com.tpm.servlet.FilePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilePost</servlet-name>
    <url-pattern>/FilePost.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Get4AnswersServlet</servlet-name>
    <servlet-class>com.tpm.servlet.Get4AnswersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get4AnswersServlet</servlet-name>
    <url-pattern>/Get4AnswersServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAbilityListServlet</servlet-name>
    <servlet-class>com.tpm.servlet.GetAbilityListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAbilityListServlet</servlet-name>
    <url-pattern>/GetAbilityListServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMajorListServlet</servlet-name>
    <servlet-class>com.tpm.servlet.GetMajorListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMajorListServlet</servlet-name>
    <url-pattern>/GetMajorListServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetQuestionnaireServlet</servlet-name>
    <servlet-class>com.tpm.servlet.GetQuestionnaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQuestionnaireServlet</servlet-name>
    <url-pattern>/GetQuestionnaireServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSuoyinServlet</servlet-name>
    <servlet-class>com.tpm.servlet.GetSuoyinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSuoyinServlet</servlet-name>
    <url-pattern>/GetSuoyinServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetZhibiaoServlet</servlet-name>
    <servlet-class>com.tpm.servlet.GetZhibiaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetZhibiaoServlet</servlet-name>
    <url-pattern>/GetZhibiaoServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JudgeAccountServlet</servlet-name>
    <servlet-class>com.tpm.servlet.JudgeAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JudgeAccountServlet</servlet-name>
    <url-pattern>/JudgeAccountServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublishQnaireServlet</servlet-name>
    <servlet-class>com.tpm.servlet.PublishQnaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishQnaireServlet</servlet-name>
    <url-pattern>/PublishQnaireServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionListServlet</servlet-name>
    <servlet-class>com.tpm.servlet.QuestionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionListServlet</servlet-name>
    <url-pattern>/QuestionListServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionPreview</servlet-name>
    <servlet-class>com.tpm.servlet.QuestionPreview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionPreview</servlet-name>
    <url-pattern>/QuestionPreview.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionSelectListServlet</servlet-name>
    <servlet-class>com.tpm.servlet.QuestionSelectListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionSelectListServlet</servlet-name>
    <url-pattern>/QuestionSelectListServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionShow</servlet-name>
    <servlet-class>com.tpm.servlet.QuestionShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionShow</servlet-name>
    <url-pattern>/QuestionShow.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetQuestionnaireServlet</servlet-name>
    <servlet-class>com.tpm.servlet.SetQuestionnaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetQuestionnaireServlet</servlet-name>
    <url-pattern>/SetQuestionnaireServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetStudentQnaireAnsSevlet</servlet-name>
    <servlet-class>com.tpm.servlet.SetStudentQnaireAnsSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetStudentQnaireAnsSevlet</servlet-name>
    <url-pattern>/SetStudentQnaireAnsSevlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetTiServlet</servlet-name>
    <servlet-class>com.tpm.servlet.SetTiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetTiServlet</servlet-name>
    <url-pattern>/SetTiServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowPublishedQnaireStudentServlet</servlet-name>
    <servlet-class>com.tpm.servlet.ShowPublishedQnaireStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPublishedQnaireStudentServlet</servlet-name>
    <url-pattern>/ShowPublishedQnaireStudentServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowPublishedServlet</servlet-name>
    <servlet-class>com.tpm.servlet.ShowPublishedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPublishedServlet</servlet-name>
    <url-pattern>/ShowPublishedServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowQnaireAnsServlet</servlet-name>
    <servlet-class>com.tpm.servlet.ShowQnaireAnsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowQnaireAnsServlet</servlet-name>
    <url-pattern>/ShowQnaireAnsServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowQuestionnaireServlet</servlet-name>
    <servlet-class>com.tpm.servlet.ShowQuestionnaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowQuestionnaireServlet</servlet-name>
    <url-pattern>/ShowQuestionnaireServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowQuestionnaireServlet_studo</servlet-name>
    <servlet-class>com.tpm.servlet.ShowQuestionnaireServlet_studo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowQuestionnaireServlet_studo</servlet-name>
    <url-pattern>/ShowQuestionnaireServlet_studo.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuLoginServlet</servlet-name>
    <servlet-class>com.tpm.servlet.StuLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuLoginServlet</servlet-name>
    <url-pattern>/StuLoginServlet.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateQuestionServlet</servlet-name>
    <servlet-class>com.tpm.servlet.UpdateQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuestionServlet</servlet-name>
    <url-pattern>/UpdateQuestionServlet.servlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DelQuestionnaire</servlet-name>
    <servlet-class>com.tpm.servlet.DelQuestionnaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelQuestionnaire</servlet-name>
    <url-pattern>/DelQuestionnaire.servlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetMyExcel</servlet-name>
    <servlet-class>com.tpm.servlet.GetMyExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyExcel</servlet-name>
    <url-pattern>/GetMyExcel.servlet</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>openSessionInViewFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
    <init-param>
      <param-name>flushMode</param-name>
      <param-value>AUTO</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>openSessionInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>45</session-timeout>
  </session-config>
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
<!--   <servlet>
    <description></description>
    <display-name>DelQuestionnaire</display-name>
    <servlet-name>DelQuestionnaire</servlet-name>
    <servlet-class>com.tpm.servlet.DelQuestionnaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelQuestionnaire</servlet-name>
    <url-pattern>/DelQuestionnaire</url-pattern>
  </servlet-mapping> -->
</web-app>